{#
 # ExoOnLine
 # Copyright or © or Copr. Université Jean Monnet (France), 2012
 # dsi.dev@univ-st-etienne.fr
 #
 # This software is a computer program whose purpose is to [describe
 # functionalities and technical features of your software].
 #
 # This software is governed by the CeCILL license under French law and
 # abiding by the rules of distribution of free software.  You can  use,
 # modify and/ or redistribute the software under the terms of the CeCILL
 # license as circulated by CEA, CNRS and INRIA at the following URL
 # "http://www.cecill.info".
 #
 # As a counterpart to the access to the source code and  rights to copy,
 # modify and redistribute granted by the license, users are provided only
 # with a limited warranty  and the software's author,  the holder of the
 # economic rights,  and the successive licensors  have only  limited
 # liability.
 #
 # In this respect, the user's attention is drawn to the risks associated
 # with loading,  using,  modifying and/or developing or reproducing the
 # software by the user in light of its specific status of free software,
 # that may mean  that it is complicated to manipulate,  and  that  also
 # therefore means  that it is reserved for developers  and  experienced
 # professionals having in-depth computer knowledge. Users are therefore
 # encouraged to load and test the software's suitability as regards their
 # requirements in conditions enabling the security of their systems and/or
 # data to be ensured and,  more generally, to use and operate it in the
 # same conditions as regards security.
 #
 # The fact that you are presently reading this means that you have had
 # knowledge of the CeCILL license and that you accept its terms.
#}

{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ujmexo/css/tableLayout.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('bundles/ujmexo/css/slrn_exoBundle.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block title %} {{ 'paper' | trans }} {% endblock %}

{% block resourceBreadcrumb %}{#
    <li><a href="{{ path('claro_resource_open', { 'resourceType': _resource.resourceNode.resourceType.name(), 'node': _resource.resourceNode.id }) }}">{{ _resource.getResourceNode().getName() }}</a></li>
    <li class="active">{{ 'nQuestion' | trans }}{{numQ}}</li>
#}{% endblock %}

{% block section_content %}
    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/paper.js') }}"></script>
<section class="col-xs-12 col-md-12">
 <div class="col-xs-3 col-md-3">
        {# FIRST : MOOC  WIDGET #}
        {% render controller(
            'ClarolineCoreBundle:Mooc\\Mooc:getWorkspacePresentationWidget',
            {'workspaceId': workspace.getId(), 'renderProgression': false  }
        ) %}
        <div class='col-xs-12 col-md-12 slrn-widget'>
	        <div class='row slrn-back bg-color-grey-2'>
	            <a data-toggle="modal" href="#quitModal" class='slrn-back__link'><i class="icon-chevron-left no_underline"></i>{{ 'returnMOOC' | trans({}, 'solerni') }}</a>
	        </div>
        </div>
        
</div>
<div class='col-xs-9 col-md-9'>    
     <div class="panel-heading">
        {#<div class='slrn_lessonTitle'>{{ render(controller('UJMExoBundle:ExoAddons:getLessonInSession', {'workspace': workspace})) }}</div>#}
        <h1>{{'paper exo'|trans({}, 'solerni')}} : {{ _resource.getResourceNode().getName() }}</h1>
        <div class="row">
            <div class="col-md-6 meta">
            {% if(maxAttempsAllowed > 0) %}
                    {{ "attempt info1" | trans }} {{ maxAttempsAllowed }}
                    {% if(maxAttempsAllowed > 1) %}
                        {{ "attempt info2plur" | trans }}
                    {% else %}
                        {{ "attempt info2sing" | trans }}
                    {% endif %}
                     -
                {% endif %}
                 {{ numAttempt }}<sup>{% if(numAttempt == 1) %}{{ "attempt info3_1" | trans({}, 'solerni') }}{% else %}{{ "attempt info3_x" | trans({}, 'solerni') }}{% endif %}</sup> {{ "attempt info3" | trans({}, 'solerni') }}

            </div>
            <div class="col-md-6 meta text-right">

                {#{{ "duree" | trans({}, 'solerni') }} : TODO min#}            
                
            </div>
        </div>
    </div>
{#    <div class="panel-heading">
        <h3 class="panel-title">{{ _resource.getResourceNode().getName() }}
            <span style="float:right;">
                {% if(maxAttempsAllowed > 0) %}
                    {{ "attempt info1" | trans }} {{ maxAttempsAllowed }}
                    {% if(maxAttempsAllowed > 1) %}
                        {{ "attempt info2plur" | trans }}
                    {% else %}
                        {{ "attempt info2sing" | trans }}
                    {% endif %}
                     -
                {% endif %}
                {{ "attempt info3" | trans }} {{ numAttempt }}
            </span>
        </h3>
    </div> #}
    <hr/>
    <div class="panel-body">
        <form action="{{ path('ujm_exercise_paper_nav') }}" method="post" name="formResponse" id="formResponse">
            <input type="hidden" name="numQuestionToDisplayed" id="numQuestionToDisplayed" value=""/>

            {#-------------------------------------------------- QCM ------------------------------------------------------------#}

            {% if interactionType == 'InteractionQCM' %}

                <!--<div class="panel-body">-->

				<div class="panel-heading">
                    <h3>{{ 'nQuestion' | trans }}{{numQ}}/{{ tabOrderInter | length }}</h3>
                </div>
				<div class="panel-body">
                    {{ interactionToDisplayed.interaction.invite | raw}}
                
                    <input class="form-control" type="hidden" name="interactionQCMToValidated" value="{{ interactionToDisplayed.id }}"/>
                    <input class="form-control" type="hidden" name="interactionToValidated" value="{{ interactionToDisplayed.interaction.id }}"/>
                    <input class="form-control" type="hidden" name="typeInteraction" value="InteractionQCM"/>

                   {# {% include "UJMExoBundle:Partial:interactionPaper.html.twig" %} #}

                    <table cellspacing="5" cellpadding="2" border="0">
                        {% for choice in interactionToDisplayed.choices %}
                            {% set checked = "" %}
                            <tr>
                                {% if regexTwig('/' ~ choice.id ~ ';/', response) > 0 %}
                                    {% set checked = "checked" %}
                                {% endif %}
                                {% if interactionToDisplayed.typeQCM.id == 2 %}
                                    <td><p><INPUT type="radio" name="choice" value="{{ choice.id }}" {{ checked }}/></p></td>
                                {% else %}
                                    <td><p><INPUT type="checkbox" name="choice[]" value="{{ choice.id }}" {{ checked }}/></p></td>
                                {% endif %}
                                <td style='font-weight:bold;'>{{ choice.label|raw }}</td>
                            </tr>
                        {% endfor %}
                    </table>

                    {% include "UJMExoBundle:Partial:hintPaper.html.twig" %}
				</div>
				<br/>
                <!--</div>-->

                <input type="hidden" name="testQCM" value="testQCM" />
                <input type="hidden" name="interaction" value="{{ interactionToDisplayed.id }}"/>

            {#------------------------------------------------- Graphic ---------------------------------------------------------#}

            {% elseif interactionType == 'InteractionGraphic' %}

                <!--<div class="panel-body">-->
                    <input type="hidden" name="interactionToValidated" value="{{ interactionToDisplayed.interaction.id }}"/>
                    <input type="hidden" name="typeInteraction" value="InteractionGraphic"/>

                    {% include "UJMExoBundle:Partial:interactionPaper.html.twig" %}

                    <h5>{{ "consignes" | trans }} :</h5>
                    <h6><em>{{ "position" | trans }}<br/>{{ "selection" | trans }}<br/>{{ "raz" | trans }}<br/>
                        {{ "onlyOnce" | trans }}</em>
                    </h6>

                    <div style="position: relative;" id="Answer">
                        <p id="ContainerCursorPaper">
                            {% set i = 1 %}
                            {% for coords in listCoords %}
                                <img src="{{ asset('bundles/ujmexo/images/graphic/answer.png') }}" alt="AnswerZone{{ i }}"
                                    id="cursor{{ i }}" style="position: absolute;"/>
                                {% set i = i + 1 %}
                            {% endfor %}
                        </p><p>

                            {% if response is empty %}
                                {% set response = 'empty' %}
                            {% endif %}

                            <img src="{{ asset(interactionToDisplayed.document.url) }}" alt="AnswerImg" id="AnswerImg"
                                width="{{ interactionToDisplayed.width }}" height="{{ interactionToDisplayed.height }}"
                                style="margin-top: 30px" onload="displayAnswersGraph('{{ response }}');"/>
                        </p>
                    </div>

                    <input type="hidden" id="nbpointer" name="nbpointer" value="{{ i }}"/>
                    <input type="hidden" id="answers" name="answers" value=""/>
                    <input type="hidden" id="graphId" name="graphId" value="{{ interactionToDisplayed.id }}"/>

                    {% include "UJMExoBundle:Partial:hintPaper.html.twig" %}

                    <input type="hidden" name="interaction" value="{{ interactionToDisplayed.id }}"/>

                <!--</div>-->
            {#-------------------------------------------------- OPEN -----------------------------------------------------------#}

            {% elseif interactionType == 'InteractionOpen' %}

                <!--<div class="panel-body">-->


				<div class="panel-heading">
                    <h3>{{ 'nQuestion' | trans }}{{numQ}}/{{ tabOrderInter | length }}</h3>
                </div>
				<div class="panel-body">
                    <input type="hidden" name="interactionOpenToValidated" value="{{ interactionToDisplayed.id }}"/>
                    <input type="hidden" name="interactionToValidated" value="{{ interactionToDisplayed.interaction.id }}"/>
                    <input type="hidden" name="typeInteraction" value="InteractionOpen"/>

                    {#{% include "UJMExoBundle:Partial:interactionPaper.html.twig" %}#}
					{{ interactionToDisplayed.interaction.invite | raw }}

                    {% if interactionToDisplayed.typeopenquestion == 'long' %}
                        <textarea name="interOpenLong" class="claroline-tiny-mce hide" data-theme="advanced" data-resource-picker="off">{{ response }}</textarea>
                    {% endif %}

                    {% include "UJMExoBundle:Partial:hintPaper.html.twig" %}

                    <input type="hidden" name="testOpen" value="testOpen" />
                    <input type="hidden" name="interaction" value="{{ interactionToDisplayed.id }}"/>
				</div>
				<br/>
                <!--</div>-->
            {#--------------------------------------------------- Hole ----------------------------------------------------------#}

            {% elseif interactionType == 'InteractionHole' %}

                    <!--<div class="panel-body">-->
                        <input class="form-control" type="hidden" name="interactionHoleToValidated" value="{{ interactionToDisplayed.id }}"/>
                        <input class="form-control" type="hidden" name="interactionToValidated" value="{{ interactionToDisplayed.interaction.id }}"/>
                        <input class="form-control" type="hidden" name="typeInteraction" value="InteractionHole"/>

                        {% include "UJMExoBundle:Partial:interactionPaper.html.twig" %}

                        <div id="interHoleResponse">
                            {{ interactionToDisplayed.htmlWithoutValue | raw }}
                            {% if response != '' %}
                                <script type="text/javascript">
                                    $(document).ready(function() {
                                        paperResponseHole('{{ response|raw }}');
                                    });
                                </script>
                            {% endif %}
                        </div>

                        {% include "UJMExoBundle:Partial:hintPaper.html.twig" %}

                    <!--</div>-->

                    <input type="hidden" name="testQCM" value="testQCM" />
                    <input type="hidden" name="interaction" value="{{ interactionToDisplayed.id }}"/>


            {% endif %}
        </form>
    </div>
    {#--------------------------------------------------- Pagination ----------------------------------------------------#}

    

    <div class="panel-footer">
        {% set indexMax = 1 %}

        {% for interactionID in tabOrderInter %}
            {% set indexMax = loop.index %}
        {% endfor %}

            {# Cas question unique #}
            {% if numQ == indexMax and numQ == 1 %}
               
                    <a data-toggle="modal" href="#saveModal" class="btn btn-primary">{{ "finish" | trans }}</a>
  
            {% else %}
            
            <div class="row">
                <div class="col-md-4">
	                {# Page précédente #}
	                {% if numQ == 1 %}
	                    <input type='button' value='{{ 'previous' | trans({}, 'solerni') }}' class='btn btn-primary disabled'/>
	                {% else %}
	                    <input type='button' onclick="submitForm({{ numQ-1 }}, '{{ interactionType }}');" value='{{ 'previous' | trans({}, 'solerni') }}' class='btn btn-primary'/>
	                {% endif %}
                </div>
                
                <div class="col-md-4 text-center">
                {# Selecteur #}
					<div class="btn-group">
					  <button type="button" class="btn btn-colorheader dropdown-toggle" data-toggle="dropdown">
					    {{ 'nQuestion' | trans }}{{ numQ }} / {{ tabOrderInter | length }} <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu btn-colorheader" role="menu">
					  {% for interactionID in tabOrderInter %}
					    <li><a class='colorheader' href="#" onclick="submitForm({{ loop.index }}, '{{ interactionType }}');">{{ 'nQuestion' | trans }}{{ loop.index }} / {{ tabOrderInter | length }}</a></li>
					  {% endfor %}
					  </ul>
					</div>
				</div>
                
                
                <div class="col-md-4 text-right">
	                {# Page Suivante #}
	                {% if numQ != indexMax %}
	                    <input type='button' onclick="submitForm({{ numQ+1 }}, '{{ interactionType }}');" value='{{ 'next' | trans({}, 'solerni')   }}' class='btn btn-primary'/>
	                {% else %}
	                    <a data-toggle="modal" href="#saveModal" class="btn btn-primary">{{ "finish" | trans }}</a>
	                {% endif %}
	               </div>
				</div>
         {% endif %}       
                {# ################################################################# #}
				
{#
                {% if numQ == indexMax %}
                    
                        <a href="#" onClick="submitForm({{ numQ-1 }}, '{{ interactionType }}');">
                            <i class="icon-chevron-left"></i> &nbsp; {{ 'previous' | trans }}
                        </a>
                        
                    <li class="disabled"><a href="#" onclick="event.preventDefault();">{{ 'next' | trans }} &nbsp; <i class="icon-chevron-right"></i></a></li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>
                        <input type="button" value="{{ "finish" | trans }}" onClick="finish('{{ interactionType }}', '{{ 'alert ending' | trans }}');"
                            class="btn btn-primary"/>
                    </li>
                {% endif %}

                {% if numQ != indexMax and numQ != 1 %}
                    <li>
                        <a href="#" onClick="submitForm({{ numQ-1 }}, '{{ interactionType }}');">
                            <i class="icon-chevron-left"></i> &nbsp; {{ 'previous' | trans }}
                        </a>
                    </li>
                    <li>
                        <a href="#" onClick="submitForm({{ numQ+1 }}, '{{ interactionType }}');">
                            {{ 'next' | trans }} &nbsp; <i class="icon-chevron-right"></i>
                        </a>
                    </li>
                {% endif %}
            {% endif %}

            {% if dispButtonInterrupt %}
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li>
                    <input type="button" value="{{ "interupt" | trans }}" onClick="interupt('{{ interactionType }}');" class="btn btn-primary"/>
                </li>
            {% endif %}
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>

            <li>
                <select id="Qnumber" onchange="submitForm(this.options[this.selectedIndex].value, '{{ interactionType }}');">
                    {% for interactionID in tabOrderInter %}
                        <option value="{{ loop.index }}">{{ 'nQuestion' | trans }}{{ loop.index }} / {{ tabOrderInter | length }}</option>
                    {% endfor %}
                </select>

            </li>#}
    </div>
</div>
</section>

                    <!-- Button trigger modal -->
                    <!--  <a data-toggle="modal" href="#saveNoFinishModal" class="btn btn-primary">Save incomplet</a> -->
                    

                    <!-- Modal When leave the page-->
                    <div class="modal fade" id="quitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">{{ 'Quit_title'|trans({}, 'solerni') | raw }}</h4>
                                </div>
                                <div class="modal-body">
                                    {% if maxAttempsAllowed == numAttempt %}{{ 'Quit'|trans({}, 'solerni') }}<br/><br/>{% endif %}
                                    {{ 'Quit2'|trans({}, 'solerni') }}
                                </div>
                                <div class="modal-footer">
                                            
                                    <a href="{{ mooc_service.getBackMoocUrl( workspace, user ) }}" class="btn btn-default">{{ 'Quit_Y'|trans({}, 'solerni') }}</a>
                                    
                                    <a href="#" class="btn btn-primary pull-right" data-dismiss="modal">{{ 'Quit_N'|trans({}, 'solerni') }}</a>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    
                    <!-- Modal before finish the exo-->
                    <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">{{ 'Save_title'|trans({}, 'solerni')}}</h4>
                                </div>
                                <div class="modal-body">
                                    {{ 'Save'|trans({}, 'solerni') }}
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'Save_N'|trans({}, 'solerni') }}</a>

                                    <button type="button" class="btn btn-primary pull-right" onclick="finish('{{ interactionType }}', null);">
                                        {{ 'Save_Y'|trans({}, 'solerni') }}
                                    </button>
                        
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    
                    <!-- Modal before finish the exo-->
                    <div class="modal fade" id="saveNoFinishModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">{{ 'SaveNoFinish_title'|trans({}, 'solerni') }}</h4>
                                </div>
                                <div class="modal-body">
                                    {{ 'SaveNoFinish'|trans({}, 'solerni') }}<br/><br/>
                                    {{ 'SaveNoFinish2'|trans({}, 'solerni') }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default">
                                        {{ 'SaveNoFinish_N'|trans({}, 'solerni') }}
                                    </button>
                                    
                                    <a href="#" class="btn btn-primary pull-right" data-dismiss="modal">{{ 'SaveNoFinish_Y'|trans({}, 'solerni') }}</a>

                                    
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if interactionType == 'InteractionGraphic' %}
        <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/jquery-ui-1.9.2/jquery-ui-1.9.2.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/ext/jquery-ui-touch-punch.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/graphicdisplay.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/paper.js') }}"></script>
    {% endif %}

    <script type="text/javascript">
        $(document).ready(function() {
            $('#Qnumber option[value="' + {{ numQ }} + '"]').attr('selected', 'selected');
        });
    </script>
{% endblock %}