{% if badgesInfoUser|length > 0 %}
    {% for key,info in badgesInfoUser %}
        <div class="">
            {% if(info.issued|date('d/m/Y \\- H\\hi\\ms\\s') == '01/01/1970 - 00h59m59s') %}
                {{ 'badgeNoObtained'|trans }} : <strong>&laquo; {{ info.badgeName }} &raquo;</strong>
            {% else %}
                {{ 'badgeObtained'|trans }} : <strong>&laquo; {{ info.badgeName }} &raquo;</strong> -
                {{ info.issued|date('d/m/Y \\- H\\hi\\ms\\s') }}
            {% endif %}
        </div>
    {% endfor %}
{% endif %}