{% if interaction.interaction.hints is not empty %}
{#    <hr/>
    <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">{{ 'hints' | trans }}</h3></div>#}
    <div class="panel-body">
        <table>
            {% set penalties = app.session.get('penalties') %}
            {% set nbr_hint = 1 %}
            {% for hint in interaction.interaction.hints %}
                <tr>
                    {% if penalties[hint.id] is defined %}

                        <td class="classic"><span class='hint_black'>{{ "ask hint" | trans({}, 'solerni') }}</span></td>

                        <script type="text/javascript">
                            show_hint2('{{hint.id}}', '{{path('ujm_hint_show')}}',
                                       '{{nbr_hint}}', {{hint.penalty}}, '{{paper}}'
                                      );
                        </script>
                    {% else %}

                        {% if hint.penalty > 0 %}

                            <td class="classic"><a data-toggle="modal" href="#hint{{nbr_hint}}"  id="indice_popup"><span class='hint_red'>{{ "ask hint" | trans({}, 'solerni') }}</span></a>
                            </td>


                        {% else %}

                            <td class="classic"><a href="#"  id="indice_popup" class='indice_popup'onclick="show_hint('{{hint.id}}',
                                    '{{path('ujm_hint_show')}}', '{{ "consult_hint" | trans }} ?', '{{nbr_hint}}',
                                    {{hint.penalty}}, '{{paper}}');event.preventDefault();"><span class='hint_red'>{{ "ask hint" | trans({}, 'solerni') }}</span></a>
                            </td>

                        {% endif %}

                    {% endif %}
                    <td id="div_hint{{nbr_hint}}" class="classic"></td>
                </tr>

                    <!-- Modal for each hint-->
                    <div class="modal fade" id="hint{{nbr_hint}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">{{ 'Hint_title'|trans({}, 'solerni') }}</h4>
                                </div>
                                <div class="modal-body">
                                    Consulter l'indice entraîne une pénalité de {{hint.penalty}} point(s), voulez vous continuer ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" onclick="show_hint2('{{hint.id}}', '{{path('ujm_hint_show')}}',
                                       '{{nbr_hint}}', {{hint.penalty}}, '{{paper}}' );" data-dismiss="modal">
                                        {{ 'Quit_Y'|trans({}, 'solerni') }}
                                    </button>
                                    
                                    <a href="#" class="btn btn-primary pull-right" data-dismiss="modal">{{ 'Quit_N'|trans({}, 'solerni') }}</a>

                                    
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

                    {% set nbr_hint = nbr_hint + 1 %}

            {% endfor %}
        </table>
{#    </div> #}
    </div>
{% endif %}